
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="contact_section layout_padding">
    <div class="contact_bg_box">
        <div class="img-box">
            <img src="images/contact-bg.jpg" alt="">
        </div>
    </div>
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Liên Hệ
            </h2>
        </div>
        <div class="">
            <div class="row">
                <div class="col-md-7 mx-auto">
                    <form action="#">
                        <div class="contact_form-container">
                            <div>
                                <div>
                                    <input type="text" placeholder="Họ tên" />
                                </div>
                                <div>
                                    <input type="email" placeholder="Email " />
                                </div>
                                <div>
                                    <input type="text" placeholder="Số điện thoại" />
                                </div>
                                <div class="">
                                    <input type="text" placeholder="Tin nhắn" class="message_input" />
                                </div>
                                <div class="btn-box ">
                                    <button type="submit">
                                        Send
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

