<div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
    <ul class="navbar-nav  ">
        <li class="nav-item active">
            <a class="nav-link" href="/menu/index">Home </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/menu/about"> About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/card/tarotonline"> Tarot Reading </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/reader/readers"> Readers </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/menu/contact">Contact us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/menu/login">Login</a>
        </li>
    </ul>
</div>