
@{
    ViewBag.Title = "Readers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="team_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center" style="color: white">
            <h2>
                Our Readers
            </h2>
            <p>
                Nơi bắt đầu hành trình khám phá tâm hồn, nơi từng lá bài mở ra những bí ẩn ẩn giấu của cuộc sống, giúp bạn thấu hiểu chính mình,
                tìm kiếm lời giải đáp cho những khúc mắc, và hướng dẫn bạn đến con đường định mệnh đang chờ đón.
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mx-auto ">
                <div class="box">
                    <div class="img-box">
                        <img src="~/Content/images/t1.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Martin Anderson
                        </h5>
                        <h6 class="">
                            Reader
                        </h6>
                        <div class="btn-box" >
                            <a href="">
                                Xem thêm
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mx-auto ">
                <div class="box">
                    <div class="img-box">
                        <img src="~/Content/images/t2.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Denny Butler
                        </h5>
                        <h6 class="">
                            Expert
                        </h6>
                        <div class="btn-box">
                            <a href="">
                                Xem thêm
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mx-auto ">
                <div class="box">
                    <div class="img-box">
                        <img src="~/Content/images/t3.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Nathan Mcpherson
                        </h5>
                        <h6 class="">
                            Reader
                        </h6>
                        <div class="btn-box">
                            <a href="">
                                Xem thêm
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a href="">
                View All
            </a>
        </div>
    </div>
</section>

